<!-- <p>dashboard works!</p> -->

<!-- <script>
    console.log("%c Checkout the source code of Chris Blackwell's CV !!", 'font-weight: bold; font-size: 50px;color: red; text-shadow: 3px 3px 0 rgb(217,31,38) , 6px 6px 0 rgb(226,91,14) , 9px 9px 0 rgb(245,221,8) , 12px 12px 0 rgb(5,148,68) , 15px 15px 0 rgb(2,135,206) , 18px 18px 0 rgb(4,77,145) , 21px 21px 0 rgb(42,21,113)');

    window.onload = function() {
        hide();
    };

    function hide() {

        var code = prompt("Please enter your share code:");
        var awesome = "Architect";
        var fun = "Rox";
        var d = new Date().getFullYear();

        var x = document.getElementById("doc2");
        if(code === awesome + fun + d.toString()){
            x.style.display = "block";

        }
        else{
            alert("View console output for error details")
        }
    }

</script> -->


<div class="dashdiv" style="width: 100%;">
    <div class="yui-t7 doc2" style="display: none;">
    <!-- <div id="doc2" class="yui-t7"> -->
        <div id="inner">
    
            

            <div id="hd">
                <div class="yui-gc">
                    <div>
                        <h1>Chris Blackwell</h1>
                        <h2>Lead Application Security Architect,
                            <br/>Dev-Sec-Ops
                        </h2>
                    </div>
                    <div>
                        <h3><a href="mailto:chrisybee88@gmail.com">chrisybee88&#64;gmail.com</a></h3>
                    </div>
                </div><!--// .yui-gc -->
            </div><!--// hd -->
            
    
            <div id="bd">
                <div id="yui-main">
                    <div>
    
                        <h1>Executive Sumamry</h1>
                        <div class="yui-gf">
                            <!-- <div class="yui-u first">
                                <h2>Profile</h2>
                            </div> -->
                            <!-- <div class="yui-u"> -->
                            <div>
                                <p class="enlarge">
                                    A highly skilled CISSP certified Security Specialist with 13 years’ experience in software development. 
                                    Designing, implementing and managing security strategies protecting business critical systems and sensitive data. 
                                    Proven expertise in building secure solutions aligned with industry standards such as NIST, ISO 27001, and GDPR. 
                                    Adept at identifying vulnerabilities, mitigating risks, and ensuring compliance with regulatory requirements. 
                                    A developer at heart, with a security mindset. 
                                </p>
                            </div>
                        </div><!--// .yui-gf -->
    
                        <h1>Skills</h1>
                        <div class="yui-gf">
                            <!-- <div class="yui-u first">
                                <h2>Skills</h2>
                            </div> -->

                            <!-- <div class="yui-u"> -->
                            <div>

                                <div class="talent">
                                    <h2>DevSecOps</h2>
                                    <ul class="talent" style="width: 80%;">
                                        <li>CompTIA CASP+</li>
                                        <li>Vertical Stack</li>
                                        <li class="last">C# .Net</li>
                                    </ul>
                                </div>

                                <div class="talent">
                                    <h2>AppSec</h2>
                                    <ul class="talent" style="width: 80%;">
                                        <li>DAST, SAST, SCA</li>
                                        <li>Secure CI/CD</li>
                                        <li class="last">OWASP</li>
                                    </ul>
                                </div>

                                <div class="talent" >
                                    <h2>Security Architect</h2>
                                    <ul class="talent" style="width: 80%;">
                                        <li>CISSP from ISC2</li>
                                        <li style="width:162px;">AWS Security Specialty</li>
                                        <li class="last">CompTIA PenTest+</li>
                                    </ul>
                                </div>

                            </div>
                        </div><!--// .yui-gf -->
    
                        <div class="yui-gf">
                            <div class="yui-u first">
                                <h2>Certification
                                    <a href="https://www.credly.com/users/chris-blackwell.5e64ab6b/badges?sort=-state_updated_at&page=1" 
                                        target="_blank">
                                        Credly
                                    </a>
                                </h2>
                            </div>
    
                            <!-- <div class="yui-u"> -->
                            <!-- <div>
                                <img src="/assets/CertificateDigitalBadges2.PNG" alt="Credly: CompTIA + AWS Certification" width="100%" height="auto">
                            </div> -->
    
                        </div><!--// .yui-gf-->
    
                        <div class="yui-gf">
    
                            <h2>Experience</h2>
                            <br/>
 
                            <!-- <div class="yui-u"> -->
                            <div>
    
                                <div class="job">
                                    <h2>iPipeline (Cheltenham)</h2>
                                    <h3>Lead Application Security Architect – January 2023 to date</h3>
                                    <!-- <h4>1/01/2023 &mdash; Present</h4> -->
                                    <p>
                                        •	UK R&D lead for security initiatives working with US based teams to build security into architectural solutions for the insurance and financial services markets.
                                        <br/><br/>
                                        •	Formulating strategies and roadmaps, and shaping security projects.
                                        <br/><br/>
                                        •	Organising and coordinating the annual penetration test and vulnerability assessment. Working with external security testers to identify new vulnerabilities and verify remediation fixes. 
                                        <br/><br/>
                                        •	Creating security standards, guidelines and implementing best practise.
                                        <br/><br/>
                                        •	Facilitating business needs with security requirements. 
                                        <br/><br/>
                                        •	Collaborating across departments and teams. Assisting scrum teams with code implementation helping IT Ops with a DevSecOps mindset.    

                                    </p>
                                </div>

                                <div class="job">
                                    <!-- <h2>iPipeline</h2> -->
                                    <h3>Senior Developer (Security) Docker & API Champion – June 2020 to January 2023</h3>
                                    <!-- <h4>1/06/2020 &mdash; 1/01/2023</h4> -->
                                    <p>
                                        •	Led a project team providing technical guidance and coaching to the team.
                                        <br/>
                                        •	Focused on API’s and Docker containerisation. 
                                        <br/>
                                        •	Full stack development in a lean and agile scrum team from project conception to close down. 
                                        <br/>
                                        •	Manging project requirements, building out implementations, code review and quality gates.
                                    </p>
                                </div>
    
                                <div class="job">
                                    <!-- <h2>iPipeline</h2> -->
                                    <h3>UK R&D Security Representative – August 2019 to June 2020</h3>
                                    <!-- <h4>1/08/2019 &mdash; 1/06/2020</h4> -->
                                    <p>
                                        •	Managing annual penetration tests, exploring security issues and instilling best security practices within the team.
                                        <br/><br/>
                                        •	OWASP Top Ten and secure CI/CD pipeline including SAST, SCA and DAST.
                                        <br/>
                                    </p>
                                </div>
    
                                <div class="job">
                                    <!-- <h2>iPipeline</h2> -->
                                    <h3>Full Stack Developer – October 2016 to August 2019</h3>
                                    <!-- <h4>24/10/2016 &mdash; 1/08/2019</h4> -->
                                    <p>
                                        •	Proficient in UI applications and API’s and database technologies.
                                        <br/>
                                        •	Working on backlog items on a mix of technologies.
                                        <br/>
                                    </p>
                                </div>
    
                                <div class="job">
                                    <h2>River Agency (Gloucester)</h2>
                                    <h3>June 2015 – October 2016</h3>
                                    <h3>Mobile Developer (Xamarin, iOS, Android)</h3>
                                    <p>
                                        •	Worked on recognition and engagement survey projects for clients including Clarks, Asda and Compass.
                                        <br/><br/>
                                        •	Mobile App development, Xamarin Studio, C#, XAML, Xamarin Forms for iOS and Android
                                        <br/>
                                        •	Agile, Scrum, VSO/TFS, Git, CI, Team City, Hocky App, Test Flight, Xamarin Test Cloud, Azure
                                        <br/>
                                        •	Mobile App security, encrypted device storage, OWASP, API Security, OAuth2, Implicit Flow.      
                                    </p>
                                </div>
    
                                <div class="job">
                                    <h2>DATASCOPE (Chester)</h2>
                                    <h3>February 2014 – May 2015</h3>
                                    <h3>.Net Developer (MVC)</h3>
                                    
                                    <p>
                                        •	Worked on ‘mobile first’ projects including a time and attendance map for Network Rail including a mobile muster report using SaaS. Plus projects for other construction clients.
                                        <br/><br/>
                                        •	HTML5, CSS3, JS ES5, Ajax, JSON, jQuery, jQueryUI, jQueryMobile, Git
                                        <br/>
                                        •	C# 5, MVC5, MVVM, ASP.NET 4.5, Bootstrap 3, Sonar Cube
                                        <br/>
                                        •	EF 5 DB First, T-SQL, Stored Procedures, ADO.NET, Linq to SQL, DAP
                                        <br/>
                                    </p>
                                </div>
    
                                <div class="job">
                                    <h2>21st Century Design (21STCD - Shrewsbury)</h2> 
                                    <h3>August 2013 – January 2014</h3>
                                    <h3>Full Stack Web Developer</h3>
                                    <p>
                                        •	Theatre website design displaying adaptive content. 
                                        <br/>
                                        •	HTML5, CSS3, C#, ASP.NET4, T-SQL, ADO.NET, Stored Proc, JS ES3, jQuery, server 2012R2
                                        <br/>
                                        •	N-tier Web Applications, Mobile First, Responsive, Adaptive, Websites, SVN Source Control
                                        <br/>
                                    </p>
                                </div>
    
                                <div class="job">
                                    <h2>Approach Us (Wolverhampton)</h2>
                                    <h3>May 2012 – July 2013</h3>
                                    <h3>Junior Developer</h3>
                                    <p>
                                        •	Web design for small businesses creating full stack data driven websites with its own bespoke CMS.
                                        <br/><br/>
                                        •	Bespoke CMS, HTML5, CSS3, JS, jQuery, C#, ASP.NET4, T-SQL, Stored Proc, ADO.NET
                                        <br/>
                                    </p>
                                </div>
    
                                <div class="job">
                                    <h2>Tag Business Computing Ltd (Coventry)</h2>
                                    <h3>August 2011 – May 2012</h3>
                                    <h3>Apprentice</h3>                                   
                                    <p>
                                        •	Backup software, VStudio2010, C#, SQL, Hypervisors, VM Ware, vSphere, Oracle Virtual Box
                                    </p>
                                </div>

                                <div class="job">
                                    <h2>Volunteering</h2>                            
                                    <p>
                                        •	OWASP member for Bristol cyber security community.
                                        <br/><br/>
                                        •	Committee member for the Cheltenham & Gloucester BCS, arranging talks, liaising with local Universities and organisations. BCS Young Careers Advisor providing career guidance and coaching to cyber security under graduates.
                                        <br/><br/>
                                        •	Technical production and committee member at Charlton Kings Community Players. Planning future shows and productions plus fundraising activities.
                                    </p>
                                </div>

                                <div class="job">
                                    <h2>Education</h2>                            
                                    <p>
                                        •	2.1 BSc Computer Science degree, Liverpool Hope University 2008-2011.
                                        <br/><br/>
                                        •	Access to HE Diploma, Chester College – Humanities, Advanced IT, Business Studies and Law 2007-2008.
                                        <br/><br/>
                                        •	GNVQ ICT and Business Studies 2004-2006.
                                    </p>
                                </div>

                                <div class="job">
                                    <h2>Vocational training</h2>                            
                                    <p>
                                        •	Full certifications held in Credly and include – CISSP, CASP+, AWS Security Specialty.
                                        <br/><br/>
                                        •	Trained first aider and fire warden.
                                        <br/><br/>
                                    </p>
                                </div>

                                <div class="job last">
                                    <h2>Personal</h2>                            
                                    <p>
                                        •	Based in Cheltenham.
                                        <br/><br/>
                                        •	Full clean driving licence.
                                        <br/><br/>
                                        •	Interests include motorsport and taking part in track days plus online gaming (Call of Duty, World of Tanks) and listening to live music and attending festivals.
                                        <br/><br/>
                                        •	Army Cadets whilst in secondary school.
                                        <br/><br/>
                                        •	References on request.
                                    </p>
                                </div>
    
                            </div><!--// .yui-u -->
                        </div><!--// .yui-gf -->
    
                        <!-- <div class="yui-gf last" style="width: 75%; float:left;">
                            <div class="yui-u first">
                                <h2>Education</h2>
                            </div>
                            <div class="yui-u">
                                <h2>Liverpool Hope University</h2>
                                <h3>BSc Computer Science &mdash; <strong>2.1</strong> </h3>
                                &nbsp;
    
                                <ul>
                                    <li>Advanced Website Development &mdash; C#, ASP.NET, Web Forms, Silverlight </li>
                                    <li>Website Development &mdash; PHP 5, HTML5, CSS3, JavaScript, jQuery, LAMP </li>
                                    <li>Applications Development - Java 6, Web Based Java Applets, JSP</li>
                                    <li>Object Orientated Software Development - OOP, SOLID, Clean Code, C++ </li>
                                    <li>Database Technology - Relational Databases, Normalisation, SQL, T-SQL, MySQL</li>
                                    <li>Networks and Operating Systems, Data Communication and Security</li>
                                    <li>Computer Fundamentals, Exploring Computer Science </li>
                                </ul>
    
                            </div>
                        </div>// .yui-gf -->
    
                        <!-- <div class="yui-u" style="float:right">
                            <img src="/assets/UniLogo.png" alt="Credly: CompTIA + AWS Certification" width="140px" height="auto">
                        </div> -->
    
                    </div><!--// .yui-b -->
                </div><!--// yui-main -->
            </div><!--// bd -->
    
            <div id="ft">
                <p>
                    Chris Blackwell &mdash; 
                    <a href="mailto:chrisybee88@gmail.com">chrisybee88&#64;gmail.com</a> 
                    <!-- &mdash; (313) - 867-5309 -->
                </p>
            </div><!--// footer -->
    
        </div><!-- // inner -->
    
    </div>
    <!--// doc -->

</div>
    


