<!-- <p>dashboard works!</p> -->

<!-- <script>
    console.log("%c Checkout the source code of Chris Blackwell's CV !!", 'font-weight: bold; font-size: 50px;color: red; text-shadow: 3px 3px 0 rgb(217,31,38) , 6px 6px 0 rgb(226,91,14) , 9px 9px 0 rgb(245,221,8) , 12px 12px 0 rgb(5,148,68) , 15px 15px 0 rgb(2,135,206) , 18px 18px 0 rgb(4,77,145) , 21px 21px 0 rgb(42,21,113)');

    window.onload = function() {
        hide();
    };

    function hide() {

        var code = prompt("Please enter your share code:");
        var awesome = "Architect";
        var fun = "Rox";
        var d = new Date().getFullYear();

        var x = document.getElementById("doc2");
        if(code === awesome + fun + d.toString()){
            x.style.display = "block";

        }
        else{
            alert("View console output for error details")
        }
    }

</script> -->


<div id="doc2" class="yui-t7 doc2" style="display: none;">
    <!-- <div id="doc2" class="yui-t7"> -->
        <div id="inner">
    
            <div id="hd">
                <div class="yui-gc">
                    <div class="yui-u first">
                        <h1>Chris Blackwell</h1>
                        <h2>Senior Developer (UK R&D Security Rep),
                            <br/>Docker + API Champion + AWS Champion</h2>
                    </div>
    
                    <div class="yui-u">
                        <div class="contact-info">
                            <h3><a id="pdf" href="/assets/ChristopherBlackwellCV2021.pdf" target="blank">Download PDF</a></h3>
                            <!-- <h3><a href="mailto:chrisybee88@gmail.com">chrisybee88@gmail.com</a></h3> -->
                            <h3><a href="mailto:08005624@hope.ac.uk">08005624@hope.ac.uk</a></h3>
                            <!-- <h3>(313) - 867-5309</h3> -->
                        </div><!--// .contact-info -->
                    </div>
    
                    <!-- TODO social media / tech links-->
    
                </div><!--// .yui-gc -->
            </div><!--// hd -->
    
            <div id="bd">
                <div id="yui-main">
                    <div class="yui-b">
    
                        <div class="yui-gf">
                            <div class="yui-u first">
                                <h2>Profile</h2>
                            </div>
                            <div class="yui-u">
                                <p class="enlarge">
                                    I have over 10 years development experience since graduating from university with a degree in computer science.
                                    I have over 5 years’ experience working with iPipeline applications.
                                    I have over 2 years’ experience as R&D Security Representative.
                                    And I have been excelling as a Senior Developer for over a year.
                                    This year I have gained professional certification related to DevSecOps, but geared towards becoming a Cloud Security Architect.
                                </p>
                            </div>
                        </div><!--// .yui-gf -->
    
                        <div class="yui-gf">
                            <div class="yui-u first">
                                <h2>Skills</h2>
                            </div>
                            <div class="yui-u">
    
                                    <div class="talent">
                                        <h2>Web Developer</h2>
                                        <ul class="talent" style="width: 80%;">
                                            <li>Angular + Typescript</li>
                                            <li>XHTML, CSS3, JS</li>
                                            <li class="last">.NET, MVC, Web Forms</li>
                                        </ul>
                                    </div>
    
                                    <div class="talent">
                                        <h2>Software Developer</h2>
                                        <ul class="talent" style="width: 80%;">
                                            <li>C#, Web API, .Net Core</li>
                                            <li>Docker, IIS</li>
                                            <li class="last">OOP, DDD, SOLID</li>
                                        </ul>
                                    </div>
    
                                    <div class="talent" >
                                        <h2>Database</h2>
                                        <ul class="talent" style="width: 80%;">
                                            <li>MS-SQL, T-SQL, SP</li>
                                            <li>EF DB First, SSDT</li>
                                            <li class="last">ADO.Net, Linq to SQL</li>
                                        </ul>
                                    </div>
                            </div>
                        </div><!--// .yui-gf -->
    
                        <div class="yui-gf">
                            <div class="yui-u first">
                                <h2>Certification</h2>
                            </div>
    
                            <div class="yui-u">
                                <img src="/assets/CertificateDigitalBadges2.PNG" alt="Credly: CompTIA + AWS Certification" width="100%" height="auto">
                            </div>
    
                            <!-- <div class="yui-u">
                                <ul class="talent">
                                    <li>XHTML</li>
                                    <li>CSS</li>
                                    <li class="last">Javascript</li>
                                </ul>
    
                                <ul class="talent">
                                    <li>Jquery</li>
                                    <li>PHP</li>
                                    <li class="last">CVS / Subversion</li>
                                </ul>
    
                                <ul class="talent">
                                    <li>OS X</li>
                                    <li>Windows XP/Vista</li>
                                    <li class="last">Linux</li>
                                </ul>
                            </div> -->
    
                        </div><!--// .yui-gf-->
    
                        <div class="yui-gf">
    
                            <div class="yui-u first">
                                <h2>Experience</h2>
                            </div><!--// .yui-u -->
    
                            <div class="yui-u">
    
                                <div class="job">
                                    <h2>iPipeline</h2>
                                    <h3>Senior Developer (Security Rep), Docker + API Champion</h3>
                                    <h4>1/06/2020 &mdash; Present</h4>
                                    <p>
                                        As a Senior Developer I take the lead on project development. 
                                        We as a a team work together to deliver a valuable software increment at the end of each sprint. 
                                        The team look to me to guide them through technical challenges. 
                                        I’m mostly a backend developer focusing on API's. I also have good knowledge of containerisation with Docker.
                                    </p>
                                </div>
    
                                <div class="job">
                                    <h2>iPipeline</h2>
                                    <h3>Security Representative</h3>
                                    <h4>1/08/2019 &mdash; Present</h4>
                                    <p>
                                        As the Security Representative for UK R&D at iPipeline, I have extra responsibilities. 
                                        My responsibilities include managing the annual penetration test, exploring security issues and instilling best security practises in the team. 
                                        We focus on the OWASP Top Ten and use a secure CI/CD pipeline that includes SAST, SCA, and DAST.
                                    </p>
                                </div>
    
                                <div class="job">
                                    <h2>iPipeline</h2>
                                    <h3>Full-stack Developer</h3>
                                    <h4>24/10/2016 &mdash; 1/08/2019</h4>
                                    <p>
                                        As a full stack developer I'm proficient with UI applications, API's and database technologies. 
                                        I can work on a multitude of backlog items that require working on a mix of technologies.
                                    </p>
                                </div>
    
                                <div class="job">
                                    <h2>River Agency</h2>
                                    <h3>Mobile Developer (Xamarin, iOS, Android)</h3>
                                    <h4>01/06/2015 &mdash; 24/10/2016</h4>
                                    <p>
                                        As a team we created native mobile applications using Xamarin Forms, we also crated platform native code for both Android and iOS to maximise the features of each platform. 
                                        Our applications used native platform secure storage, interacted with device hardware, and had built in full offline functionality.
                                    </p>
                                </div>
    
                                <div class="job">
                                    <h2>DATASCOPE</h2>
                                    <h3>.Net Developer (MVC)</h3>
                                    <h4>03/02/2014 &mdash; 29/05/2015</h4>
                                    <p>
                                        DATASCOPE specialise is time and attendance software for construction sites. 
                                        My suite of applications was designed to be fully responsive with mobile devices in mind.
                                    </p>
                                </div>
    
                                <div class="job">
                                    <h2>21st Century Design (21STCD)</h2>
                                    <h3>Full Stack Web Developer</h3>
                                    <h4>01/08/2013 &mdash; 31/01/2014</h4>
                                    <p>
                                        21STCD specialised in theatre websites, our web applications displayed adaptive content. 
                                        We used in IP lookup, and cookies to adapt our content to make it more relevant based on your county, to show local theatre content.
                                    </p>
                                </div>
    
                                <div class="job">
                                    <h2>Approach Us</h2>
                                    <h3>Junior Developer</h3>
                                    <h4>14/05/2012 &mdash; 01/07/2013</h4>
                                    <p>
                                        Approach Us was a small web shop focusing on small websites for small businesses that needed something more powerful and simpler than WordPress. 
                                        Within a 2 month cycle I could single-handedly create a full stack data driven website, with its own bespoke CMS (content management system). 
                                        It allowed non technical people to easily change all text and images on the website, as well as dynamically create new pages using a drag and drop editor.
                                    </p>
                                </div>
    
                                <div class="job last">
                                    <h2>Tag Business Computing Ltd</h2>
                                    <h3>Apprentice</h3>
                                    <h4>1/08/2011 &mdash; 14/05/2012</h4>
                                    <p>
                                        Tag was a small business ran by a family friend, they specialised in call recording software and backup solutions. 
                                        I gained experience supporting with networking, Linux, VMWare, Veeam Backup and Server 2003, 2008R2.
                                    </p>
                                </div>
    
                            </div><!--// .yui-u -->
                        </div><!--// .yui-gf -->
    
                        <div class="yui-gf last" style="width: 75%; float:left;">
                            <div class="yui-u first">
                                <h2>Education</h2>
                            </div>
                            <div class="yui-u">
                                <h2>Liverpool Hope University</h2>
                                <h3>BSc Computer Science &mdash; <strong>2.1</strong> </h3>
                                &nbsp;
    
                                <ul>
                                    <li>Advanced Website Development &mdash; C#, ASP.NET, Web Forms, Silverlight </li>
                                    <li>Website Development &mdash; PHP 5, HTML5, CSS3, JavaScript, jQuery, LAMP </li>
                                    <li>Applications Development - Java 6, Web Based Java Applets, JSP</li>
                                    <li>Object Orientated Software Development - OOP, SOLID, Clean Code, C++ </li>
                                    <li>Database Technology - Relational Databases, Normalisation, SQL, T-SQL, MySQL</li>
                                    <li>Networks and Operating Systems, Data Communication and Security</li>
                                    <li>Computer Fundamentals, Exploring Computer Science </li>
                                </ul>
    
                            </div>
                        </div><!--// .yui-gf -->
    
                        <div class="yui-u" style="float:right">
                            <img src="/assets/UniLogo.png" alt="Credly: CompTIA + AWS Certification" width="180px" height="auto">
                        </div>
    
                    </div><!--// .yui-b -->
                </div><!--// yui-main -->
            </div><!--// bd -->
    
            <div id="ft">
                <p>
                    Chris Blackwell &mdash; 
                    <a href="mailto:08005624@hope.ac.uk">08005624@hope.ac.uk</a> 
                    <!-- &mdash; (313) - 867-5309 -->
                </p>
            </div><!--// footer -->
    
        </div><!-- // inner -->
    
    </div>
    <!--// doc -->
    


